  <thead>
    <tr>
      <th>Project Name</th>
      <th>Part Number</th>
      <th>Description</th>
      <th>Frequency</th>
      <th>Quantity</th>
      <th>Quantity per visit</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% local_assigns[:p_for_f_object]all.each do |parts_for_proposal| %>
      <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
        <td><%= parts_for_proposal.proposal.project.project_name %></td>
        <td><%= parts_for_proposal.part.part_number %></td>
        <td><%= parts_for_proposal.part.description %></td>
        <td><%= parts_for_proposal.frequency %></td>
        <td><%= parts_for_proposal.quantity %></td>
        <td><%= parts_for_proposal.quantity_per_visit %></td>
        <td><%= link_to 'Show', parts_for_proposal %></td>
        <td><%= link_to 'Edit', edit_parts_for_proposal_path(parts_for_proposal) %></td>
        <td><%= link_to 'Destroy', parts_for_proposal, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
