  <thead>
    <tr>
      <th>Part Number</th>
      <th>Description</th>
      <th>Frequency</th>
      <th>Quantity</th>
      <th>Quantity per visit</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <%
      @results = PartsForProposal.where("proposal_id = ?", @proposal.id)
      
      @results.each do |part| %>
      <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
        <td><%= part.part.part_number %></td>
        <td><%= part.part.description %></td>
        <td><%= part.frequency %></td>
        <td><%= part.quantity %></td>
        <td><%= part.quantity_per_visit %></td>
        <td><%= link_to 'Edit', edit_parts_for_proposal_path(part) %></td>

      </tr>
    <% end %>
  </tbody>
