<%= form_for(client_contact) do |f| %>
  <% if client_contact.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(client_contact.errors.count, "error") %> prohibited this client_contact from being saved:</h2>

      <ul>
      <% client_contact.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :last_name %>
    <%= f.text_field :last_name %>
  </div>

  <div class="field">
    <%= f.label :first_name %>
    <%= f.text_field :first_name %>
  </div>

  <div class="field">
    <%= f.label :nick_name %>
    <%= f.text_field :nick_name %>
  </div>

  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>

  <%= button_tag(type: 'submit', class: "btn btn-primary") do %>
    Create
  <% end %>
<% end %>
