<p id="notice"><%= notice %></p>

<p>
  <strong>Last name:</strong>
  <%= @client_contact.last_name %>
</p>

<p>
  <strong>First name:</strong>
  <%= @client_contact.first_name %>
</p>

<p>
  <strong>Nick name:</strong>
  <%= @client_contact.nick_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @client_contact.email %>
</p>

<%= link_to 'Edit', edit_client_contact_path(@client_contact) %> |
<%= link_to 'Back', client_contacts_path %>
