<%= form_for(project) do |f| %>
  <% if project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :project_name %>
    <%= f.text_field :project_name %>
  </div>

  <div class="field">
    <%= f.label :client_id %>
    <%= f.collection_select(:client_id, Client.all, :id, :institution, prompt: true) %>
  </div>

  <% if @project.persisted? %>
    <%= f.submit "Update" %>
  <% else %>
     <%= f.submit "Create" %>
  <% end %>
<% end %>
