<%= form_for(parts_for_proposal) do |f| %>
  <% if parts_for_proposal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(parts_for_proposal.errors.count, "error") %> prohibited this parts_for_proposal from being saved:</h2>

      <ul>
      <% parts_for_proposal.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :quantity %>
    <%= f.number_field :quantity %>
  </div>

  <div class="field">
    <%= f.label :frequency %>
    <%= f.number_field :frequency %>
  </div>

  <div class="field">
    <%= f.label :quantity_per_visit %>
    <%= f.number_field :quantity_per_visit %>
  </div>

  <div class="field">
    <%= f.label :proposal_id %>
    <%= f.text_field :proposal_id %>
  </div>

  <div class="field">
    <%= f.label :part_id %>
    <%= f.text_field :part_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
