<p id="notice"><%= notice %></p>

<p>
  <strong>Part number:</strong>
  <%= @parts_for_proposal.part_number %>
</p>

<p>
  <strong>Descripton:</strong>
  <%= @parts_for_proposal.descripton %>
</p>

<p>
  <strong>Cost:</strong>
  <%= @parts_for_proposal.cost %>
</p>

<p>
  <strong>Proposal:</strong>
  <%= @parts_for_proposal.proposal %>
</p>

<%= link_to 'Edit', edit_parts_for_proposal_path(@parts_for_proposal) %> |
<%= link_to 'Back', parts_for_proposals_path %>
