<p id="notice"><%= notice %></p>

<p>
  <strong>Quantity:</strong>
  <%= @parts_for_proposal.quantity %>
</p>

<p>
  <strong>Frequency:</strong>
  <%= @parts_for_proposal.frequency %>
</p>

<p>
  <strong>Quantity per visit:</strong>
  <%= @parts_for_proposal.quantity_per_visit %>
</p>

<p>
  <strong>Proposal:</strong>
  <%= @parts_for_proposal.proposal %>
</p>

<p>
  <strong>Part:</strong>
  <%= @parts_for_proposal.part %>
</p>

<%= link_to 'Edit', edit_parts_for_proposal_path(@parts_for_proposal) %> |
<%= link_to 'Back', parts_for_proposals_path %>
