<p id="notice"><%= notice %></p>

<h1>Proposals</h1>

<table>
  <thead>
    <tr>
      <th>Po number</th>
      <th>Quote number</th>
      <th>Date quoted</th>
      <th>Date needed</th>
      <th>Ship via</th>
      <th>Project</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @proposals.each do |proposal| %>
      <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
        <td><%= proposal.po_number %></td>
        <td><%= proposal.quote_number %></td>
        <td><%= proposal.date_quoted %></td>
        <td><%= proposal.date_needed %></td>
        <td><%= proposal.ship_via %></td>
        <td><%= proposal.project %></td>
        <td><%= link_to 'Show', proposal %></td>
        <td><%= link_to 'Edit', edit_proposal_path(proposal) %></td>
        <td><%= link_to 'Destroy', proposal, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Proposal', new_proposal_path %>
