<p id="notice"><%= notice %></p>

<p>
  <strong>Po number:</strong>
  <%= @proposal.po_number %>
</p>

<p>
  <strong>Quote number:</strong>
  <%= @proposal.quote_number %>
</p>

<p>
  <strong>Date quoted:</strong>
  <%= @proposal.date_quoted %>
</p>

<p>
  <strong>Date needed:</strong>
  <%= @proposal.date_needed %>
</p>

<p>
  <strong>Ship via:</strong>
  <%= @proposal.ship_via %>
</p>

<p>
  <strong>Project:</strong>
  <%= @proposal.project.project_name %>
</p>

<table>
  
  <%= render "shared/parts_for_proposals_details" %>

</table>

<%= link_to 'Add', new_part_path %> |
<%= link_to 'Back', proposals_path %>
