<!DOCTYPE html>
<html>
<head>
  <title>Workspace</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Cost Proposals App</a>
    </div>

    <%= nav_bar do %>
      <%= nav_link "Propsals", proposals_path %>
      <%= nav_link "Projects", projects_path %>
      <%= nav_link "Clients", clients_path %>
      <%= nav_link "Employees", employees_path %>
      <%= nav_link "States", states_path %>
    <% end %>

  </div>
</nav>

<div class="container">
<%= yield %>
</div>

</body>
</html>
